* {
	box-sizing: border-box;
}

body {
	margin: 0px;
}

div.header {
	padding-top: 65px;
	width: 100%;
	height: 100vh;
	background: linear-gradient(243.5deg, #FF6109 6.17%,
		rgba(178, 112, 172, 0.91) 21.08%,
		rgba(145, 44, 134, 0.74) 49.66%,
		rgba(194, 142, 80, 0.94) 58.95%, #E85AEB 65.36%,
		rgba(129, 69, 225, 0.79) 78.57%, #FD8B06 100.87%, #C88B43 100.87%);
}

ul.ul1 {
	list-style-type: none;
	height: 80px;
	margin: 0px;
	float: right;
}

ul.ul1 li {
	float: left;
	margin-right: 50px;
	padding-top: 19px;
}

a {
	text-decoration: none;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
}

ul.ul1 a {
	font-size: 31px;
	color: #FFF4F4;
}

li.auth {
	padding-top: 0px;
	width: 145px;
	height: 80px;
	border: 1px solid #FEF7F7;
	box-sizing: border-box;
	border-radius: 10px;
	text-align: center;
}

li.auth a {
	font-weight: 400;
	font-size: 35px;
	color: #FFF4F4;
}

p {
	font-family: 'Montserrat';
	font-style: normal;
}

p.header {
	position: absolute;
	width: 545px;
	left: 115px;
	top: 250px;
	font-weight: 400;
	font-size: 50px;
	line-height: 65px;
	color: #FFFFFF;
}

h1 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
	color: #000000;
	margin-top: 120px;
	margin: auto;
}

@media (min-width: 1265px) and (max-width: 2000px) {

	div.container1 {
		width: 700px;
		margin: auto;
		text-align: center;
		margin-top: 100px;
	}

	div.review {
		width: 650px;
		height: 500px;
		border: 3px solid #16C447;
		box-sizing: border-box;
		border-radius: 10px;
		margin: auto;
		margin-top: 50px;
	}

	div.review p {
		width: 95%;
		font-weight: 500;
		font-size: 20px;
		color: #000000;
		float: left;
	}

	textarea.text {
		width: 80%;
		height: 150px;
		float: left;
		margin-left: 10%;
	}

	input {
		width: 230px;
		height: 35px;
		border: 1px solid #ADADAD;
		box-sizing: border-box;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		border-radius: 10px;
		float: right;
		font-weight: 500;
		font-size: 20px;
		font-family: 'Montserrat';
	}

	input.sub {
		border: none;
		width: 45%;
		height: 35px;
		background: #38E454;
		border-radius: 5px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		color: #FFFFFF;
		float: left;
		margin-top: 50px;
		margin-left: 27.5%;
	}

	div.reviews {
		width: 1265px;
		height: 500px;
		margin: auto;
		margin-top: 100px;
	}

	div.reviews1 {
		width: 375px;
		height: 300px;
		border: 3px solid #2C59FA;
		box-sizing: border-box;
		border-radius: 10px;
		float: left;
		margin-right: 65px;
		margin-top: 50px;
		text-align: center;
		padding: 30px;
	}

	div.reviews1 p {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 30px;
		line-height: 37px;
		text-align: center;
		color: #000000;
	}

	a.a1 {
		text-decoration: none;
		width: 150px;
		height: 35px;
		background: #2C97FA;
		border-radius: 20px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		text-align: center;
		color: #FFFFFF;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 35px;
		padding-right: 35px;
	}

	footer {
		clear: both;
		background: #7C7C7C;
		width: 100%;
		height: 120px;
		margin-top: 120px;
	}

	div.foot {
		width: 450px;
		margin-top: 45px;
		margin-left: 90px;
		float: left;
	}

	a.pfoot_left {
		font-weight: 500;
		font-size: 25px;
		color: #E8E8E8;
		float: left;
		margin-right: 20px;
	}

	p.pfoot_right {
		width: 300px;
		font-size: 27px;
		color: #FFFFFF;
		float: right;
		margin-right: 90px;
		margin-top: 25px;
	}
}

@media (min-width: 768px) and (max-width: 1264px) {

	p.header {
		width: 700px;
		padding: auto;
		font-weight: 400;
		font-size: 45px;
		line-height: 65px;
		color: #FFFFFF;
		text-align: left;
	}

	div.container1 {
		width: 700px;
		margin: auto;
		text-align: center;
		margin-top: 100px;
	}

	div.review {
		width: 650px;
		height: 500px;
		border: 3px solid #16C447;
		box-sizing: border-box;
		border-radius: 10px;
		margin: auto;
		margin-top: 50px;
	}

	div.review p {
		width: 95%;
		font-weight: 500;
		font-size: 25px;
		color: #000000;
		float: left;
	}

	textarea.text {
		width: 80%;
		height: 150px;
		float: left;
		margin-left: 10%;
	}

	input {
		width: 230px;
		height: 35px;
		border: 1px solid #ADADAD;
		box-sizing: border-box;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		border-radius: 10px;
		float: right;
		font-weight: 500;
		font-size: 20px;
		font-family: 'Montserrat';
	}

	input.sub {
		border: none;
		width: 45%;
		height: 35px;
		background: #38E454;
		border-radius: 5px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		color: #FFFFFF;
		float: left;
		margin-top: 50px;
		margin-left: 27.5%;
	}

	div.reviews {
		width: 760px;
		height: 500px;
		margin: auto;
		margin-top: 100px;
	}

	div.reviews1 {
		width: 350px;
		height: 300px;
		border: 3px solid #2C59FA;
		box-sizing: border-box;
		border-radius: 10px;
		float: left;
		margin-right: 25px;
		margin-top: 50px;
		text-align: center;
		padding: 30px;
		margin-bottom: 50px;
	}

	div.reviews1 p {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 30px;
		line-height: 37px;
		text-align: center;
		color: #000000;
	}

	a.a1 {
		text-decoration: none;
		width: 150px;
		height: 35px;
		background: #2C97FA;
		border-radius: 20px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		text-align: center;
		color: #FFFFFF;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 35px;
		padding-right: 35px;
	}

	footer {
		clear: both;
		background: #7C7C7C;
		width: 100%;
		height: 200px;
		margin-top: 120px;
	}

	div.foot {
		width: 400px;
		margin-top: 45px;
		margin-left: 30px;
		float: left;
	}

	a.pfoot_left {
		font-weight: 500;
		font-size: 25px;
		color: #E8E8E8;
		float: left;
		margin-right: 20px;
	}

	p.pfoot_right {
		font-size: 27px;
		color: #FFFFFF;
		float: right;
		margin-right: 90px;
		margin-top: 25px;
	}
}

@media (min-width: 360px) and (max-width: 767px) {

	ul.ul1 {
		list-style-type: none;
		height: 300px;
		width: 100%;
		margin: auto;
		padding: 0px;
	}

	ul.ul1 li {
		width: 100%;
		padding-top: 25px;
		text-align: center;
	}

	a {
		text-decoration: none;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 700;
	}

	ul.ul1 a {
		font-size: 35px;
		color: #FFF4F4;
	}

	ul.ul1 li.auth {
		border: 1px solid #FEF7F7;
		box-sizing: border-box;
		border-radius: 10px;
		text-align: center;
		margin-top: 30px;
		margin-left: 32.5%;
		margin-right: 32.5%;
		width: 35%;
	}

	ul.ul1 li.auth a {
		font-weight: 400;
		font-size: 30px;
		color: #FFF4F4;
		padding: 5px;
	}
	p.header {
		display: none;
	}

	div.container1 {
		width: 355px;
		margin: auto;
		text-align: center;
		margin-top: 100px;
	}

	div.review {
		width: 355px;
		height: 500px;
		border: 3px solid #16C447;
		box-sizing: border-box;
		border-radius: 10px;
		margin: auto;
		margin-top: 50px;
	}

	div.review p {
		width: 95%;
		font-weight: 500;
		font-size: 20px;
		color: #000000;
		float: left;
	}

	textarea.text {
		width: 80%;
		height: 150px;
		float: left;
		margin-left: 10%;
	}

	input {
		width: 230px;
		height: 35px;
		border: 1px solid #ADADAD;
		box-sizing: border-box;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		border-radius: 10px;
		float: right;
		font-weight: 500;
		font-size: 20px;
		font-family: 'Montserrat';
	}

	input.sub {
		border: none;
		width: 45%;
		height: 35px;
		background: #38E454;
		border-radius: 5px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		text-align: center;
		color: #FFFFFF;
		float: left;
		margin-top: 50px;
		margin-left: 27.5%;
	}

	div.reviews {
		width: 355px;
		height: 500px;
		margin: auto;
		margin-top: 100px;
	}

	div.reviews1 {
		width: 350px;
		height: 300px;
		border: 3px solid #2C59FA;
		box-sizing: border-box;
		border-radius: 10px;
		margin-right: 25px;
		margin-top: 50px;
		text-align: center;
		padding: 30px;
		margin-bottom: 50px;
	}

	div.reviews1 p {
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 30px;
		line-height: 37px;
		text-align: center;
		color: #000000;
	}

	a.a1 {
		text-decoration: none;
		width: 150px;
		height: 35px;
		background: #2C97FA;
		border-radius: 20px;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		text-align: center;
		color: #FFFFFF;
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 35px;
		padding-right: 35px;
	}

	footer {
		clear: both;
		background: #7C7C7C;
		width: 100%;
		height: 120px;
		margin-top: 100px;
		text-align: center;
	}

	a.pfoot_left {
		font-weight: 500;
		font-size: 23px;
		color: #E8E8E8;
		margin-top: 10px;
		margin-left: 15px;
	}

	p.pfoot_right {
		font-size: 23px;
		color: #FFFFFF;
		margin-top: 25px;
	}
}
